<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.nanal"
    android:installLocation="auto">

    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH.mail" /> -->
    <application
        android:name=".CalendarApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/standalone_app_label"
        android:requiredAccountType="*"
        android:taskAffinity="ws.xsoh.etar.task"
        android:theme="@style/CalendarAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".activity.AllInOneActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/CalendarTheme.WithoutActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="time/epoch" />
                <data android:host="com.android.nanal" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="nanal"
                    android:host="group_invite" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LaunchActivity"
            android:exported="true"
            android:targetActivity=".activity.AllInOneActivity" />

        <activity
            android:name=".activity.EventInfoActivity"
            android:parentActivityName=".activity.AllInOneActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<data android:mimeType="vnd.android.cursor.item/event" />-->
            <!--</intent-filter>-->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.nanal.activity.AllInOneActivity" />
        </activity>
        <activity
            android:name=".activity.EditEventActivity"
            android:theme="@style/Base.CalendarAppThemeWithActionBar" />

        <activity-alias
            android:name=".activity.EditEventActivity"
            android:exported="true"
            android:targetActivity=".activity.EditEventActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/event" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".calendar.GoogleCalendarUriIntentFilter"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_label"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPrefix="/calendar/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com"
                    android:pathPattern="/calendar/hosted/.*/event" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectVisibleCalendarsActivity"
            android:label="@string/select_visible_calendars_title"
            android:theme="@style/Base.CalendarAppThemeWithActionBar" />
        <activity
            android:name=".activity.SelectSyncedCalendarsMultiAccountActivity"
            android:label="@string/select_synced_calendars_title"
            android:theme="@style/Base.CalendarAppThemeWithActionBar" />
        <activity
            android:name=".activity.CalendarSettingsActivity"
            android:label="@string/preferences_title"
            android:parentActivityName=".activity.AllInOneActivity" />

        <!-- Declarations for search -->
        <!-- Make all activities a searchable context -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.android.nanal.activity.SearchActivity" />

        <activity
            android:name=".activity.SearchActivity"
            android:exported="true"
            android:label="@string/search_title"
            android:launchMode="singleTop"
            android:theme="@style/CalendarTheme.WithActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.ImportActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="text/x-vcalendar" />
                <data android:mimeType="text/calendar" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".CalendarRecentSuggestionsProvider"
            android:authorities="com.android.nanal.CalendarRecentSuggestionsProvider"
            android:exported="false" />

        <!-- Declarations for alerts/reminders -->
        <activity
            android:name=".activity.AlertActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".alerts.QuickResponseActivity"
            android:excludeFromRecents="true"
            android:label="@string/quick_response_dialog_title"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name=".alerts.SnoozeDelayActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />

        <receiver android:name=".alerts.AlertReceiver">
            <intent-filter>
                <action android:name="android.intent.action.EVENT_REMINDER" />
                <action android:name="android.intent.action.TIME_SET" />

                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.nanal" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alerts.GlobalDismissManager"
            android:exported="false" />

        <service android:name=".alerts.AlertService" />
        <service android:name=".alerts.DismissAlarmsService" />
        <service android:name=".alerts.SnoozeAlarmsService" />

        <!-- Declarations for the widget -->
        <receiver
            android:name=".widget.CalendarAppWidgetProvider"
            android:label="@string/gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.android.nanal.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <receiver android:name=".widget.CalendarAppWidgetService$CalendarFactory">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.nanal" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.nanal.APPWIDGET_SCHEDULED_UPDATE" />

                <data android:scheme="content" />
                <data android:host="com.android.nanal" />
                <data android:mimeType="vnd.android.data/update" />
            </intent-filter>
        </receiver>

        <service
            android:name=".widget.CalendarAppWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
        <service android:name=".query.AsyncQueryServiceHelper" />
        <activity android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALENDAR" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity"/>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/preferences_title"
            android:parentActivityName=".activity.AllInOneActivity" />
        <activity android:name=".activity.EditDiaryActivity" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".activity.EditGroupActivity" />
    </application>

</manifest>